p4/venv/
**/__pycache__/
*.pyc
.env
pfinal/.claude/settings.local.json
.coverage
coverage.xml
.pytest_cache/

*.db
**/node_modules/

pfinal/correos_profe/

package.json
package-lock.json
pfinal/check_conexion.sh
pfinal/.vscode/settings.json
